

h1 {
    color: white;
    background-color: blue;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.lasagnah2 {
    color:white;
    background-color:green;
}

.lasagnai {
    color: white;
    background-color: red;
}

.lasagnast {
    color: green;
    background-color: black;

}

.heat {
    color:blue;

}

h2 {
    color: white;
    background-color: black;
    text-align: center;
}

img {
    height: auto;
    width: 500px;
}