

h1 {
    color: white;
    background-color: blue;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    border: 20px solid white;
    padding: 10px

}

.lasagnah2 {
    color:white;
    background-color:green;
    border: 20px solid red;
    padding: 10px;

}

.lasagnai { 
    color: white;
    background-color: red;
    border: 20px solid green;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    margin: 100px;

}

.lasagnast {
    color: green;
    background-color: black;
    border: 20px solid blue;
    padding: 10px;


}

.heat {
    color:blue;

}

h2 {
    color: white;
    background-color: black;
    text-align: center;
}

img {
    height: auto;
    width: 500px;
    border: 20px solid gray;

}